main {
  display: flex;
}

.articles-container {
  width: 20%;
  margin-right: 50px;
}


.article-container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.article-preview {
  font-style: italic;
}

.article-preview:after {
  content: '...'
}
